body {
    background-color: lightgray;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: repeat(4, 1fr);
    min-height: 50vh; 
    flex: 1;
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    min-height: 50vh; 
    flex: 1;
}

header {
    background-color: darkblue;
    color: white;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    align-content: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

.emptyspaceleft {
    background-color: black;
    color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emptyspaceright {
    background-image: url(https://preview.redd.it/d7zn0l6zo3d71.png?width=1920&format=png&auto=webp&s=c3d3fc78df6ea56541d15e1b91541c04b0c84533);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
}

.oneofthree {
    background-color: skyblue;
    grid-row-start: 1;
    grid-row-end: 2;
}

.twoofthree {
    background-image: url(https://images.unsplash.com/photo-1538370965046-79c0d6907d47?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8b3V0ZXIlMjBzcGFjZXxlbnwwfHwwfHx8MA%3D%3D);
    background-color: red;
    background-position: center;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
}

.threeofthree {
    background-color: skyblue;
    grid-row-start: 1;
    grid-row-end: 2;
    float: left;
}

.imgwrap {
    float: right;
    margin: 0 15px 10px 0;
    width: 150px;
}


main {
    background-color: white;
    padding: 2rem;
}
